div.sftMsg {
    position:fixed;
    display:block;
    top:0;left:0;
    padding:0px; margin:0px;
    width:100%;
    overflow:none;
    overflow-x:none;
    overflow-y:none;
    z-index:9999;
}
a.sftMsgHideButton {
    right:10px;
    /*font-size: 14px;*/
    position:absolute;
    bottom:5px;
    color:#696969;
}
div.sftMsgDiv {
    padding: 8px 8px 8px 45px;
    font-family: Tahoma,"ms sans serif",arial;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: 8px 5px;

    background-color: #DAEFF8;
    border: 1px solid #7CC7E4;
    color: #004A80;
    background-image: url('{SITEURI}/img/core/ok.gif');
}

div.sftMsgDiv.success {
    background-color: #DAEFF8;
    border: 1px solid #7CC7E4;
    color: #004A80;
    background-image: url('{SITEURI}/img/core/ok.gif');
}

div.sftMsgDiv.information {
    background-color: #DAEFF8;
    border: 1px solid #7CC7E4;
    color: #004A80;
    background-image: url('{SITEURI}/img/core/i.png');
}

div.sftMsgDiv.error {
    background-color: #FFC7C7;
    border: 1px solid #FF7070;
    color: #790000;
    background-image: url('{SITEURI}/img/core/att.gif');
}